* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    list-style: none;
}

body {
    background-color: #f0f0f0;
    width: 100%;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    padding: 20px;
    font-size: 24px;
}

header nav {
    margin-left: auto;
    padding: 20px;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: flex;
    align-items: center;
}

#content {
    /* background: #e24242; */
    margin: 0 auto;
    width: 800px;
    margin-top: 20px;
    /* display: none; */
}

.grid {
    width: 100%;
    position: relative;
}

.grid-sizer,
.grid-item {
    width: 24%;
}

.gutter-sizer {
    width: 1%;
}

.grid-item {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

.grid-item img {
    display: block;
    min-width: 100%;
    max-width: 100%;
}

.grid-item.placeholder {
    position: relative;
    background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
    background-size: 400% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    overflow: hidden;
    border-radius: 5px;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    background-image: url('https://i.gifer.com/ZZ5H.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

#load-more {
    position: fixed;
    bottom: -2%;
    left: 50%;
    transform: translate(-50.5%, -50%);
    width: 800px;
    justify-content: center;
    margin: 20px 0;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#load-more:hover {
    background-color: #0057b3c2;
}

#end-message {
    display: none;
    text-align: center;
    color: #888;
    padding: 40px 0 20px;
    font-size: 15px;
    font-style: italic;
}


/* 실질적 모달창 */
#modal-page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    /* background-color: rgba(255, 255, 255, 0.925); */
    /* justify-content: center; */
    /* align-items: center; */
}

/* 모달 뒷배경/화면닫기용 */
#modal-otherpage {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 21, 21, 0.712);
    /* justify-content: center; */
    /* align-items: center; */
}

/* 보이는 모달창 */
#modal {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 600px;
    height: auto;
    min-height: 400px;
    max-height: 80%;
    background-color: white;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    z-index: 1000;
    position: relative;
    border-radius: 10px;
}

.how-to-close {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.how-to-close p {
    color: white;
}

/* 스크롤바 */
#modal::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

#modal::-webkit-scrollbar-thumb {
    background: rgb(156, 156, 156);
    border-radius: 3px;
}

#modal::-webkit-scrollbar-track {
    background-color: transparent;
}

#modal-title {
    font-size: 24px;
}

#modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.modal-desbox {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

#close-modal {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 1001;
}

#close-modal .fa-xmark {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.521);
    margin: 0;
    padding: 0;
    cursor: pointer;
}