<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
</head>
<body>
    <header>
        <h1><a href="../templates/main.html">일기</a></h1>
        <nav>
            <ul>
                <li><a href="../templates/myPage.html">마이 페이지</a></li>
                <li><a href="#">내 프로필 보기</a></li>
                <li><a href="#">로그아웃</a></li>
                <li>
                    <div style="height: 30px;width: 30px;background-color: aqua;border-radius: 50%;"></div>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>