<!DOCTYPE html><!--소셜 로그인 전용으로 제작(현재 naver만)-->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그아웃 중...</title>
    <style>
        /* 화면 중앙 정렬용 스타일 (딱히 CSS파일을 따로 만들 필요 없어서)*/
        body {
            font-family: sans-serif;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <h2>로그아웃 중입니다. 잠시만 기다려 주세요...</h2>

    <script>
        // 네이버 로그아웃 팝업 자동 실행
        const popup = window.open("https://nid.naver.com/nidlogin.logout", 
        "logoutPopup", 
        "width=1,height=1");

        // 0.05초 뒤 팝업 닫고 intro페이지로 자동 이동
        setTimeout(() => {
            try { if (popup) popup.close();} catch(e) {}
            window.location.href = "/intro";
        }, 500);
    </script>
</body>
</html>