<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <header>
        <h1><a th:href="@{/main}">일기</a></h1>
        <nav>
            <ul>
                <li><a th:href="@{myPage}">마이페이지</a></li>
                
                <li><a th:href="@{myProfile}">내 프로필</a></li>
                <li>
                    <button onclick="handleSocialLogout()" class="logout-button">로그아웃</button>
                </li>
                <li><img id="me" th:src="@{${user.uImage}(v=${timestamp})}" alt="Me" name="uImage"/></li>
            </ul>
        </nav>
    </header>
    <section id="content">
        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
        </div>
        <button id="load-more">더보기</button>
        <div id="end-message">더 이상 항목이 없습니다.</div>
    </section>
    <section id="modal-page">
        <div id="modal-otherpage"></div>
        <button id="close-modal"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i></button>
        <div id="modal">
            <img id="modal-image"
            src="https://plus.unsplash.com/premium_photo-1717529136642-269beec93a32?q=80&w=1003&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="모달 이미지">
            <div class="modal-desbox">
                <h2 id="modal-title">제목</h2>
                <p id="modal-description">내용</p>
            </div>
        </div>
        <div class="how-to-close">
            <p>팝업 화면 밖을 클릭하여 팝업을 끄세요.</p>
        </div>
    </section>
    <footer>
        <span th:text="${weatherNow}" id="weatherNow">날씨 정보 불러오는 중...</span>
    </footer>
    <!-- CSRF 토큰 -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="https://kit.fontawesome.com/6f494923fa.js" crossorigin="anonymous"></script>

    <script th:src="@{/js/main.js}"></script>

    <script th:src="@{/js/share.js}"></script>
</body>

</html>