<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mydiary.repository.DiaryMapper">

    <insert id="insertDiary" parameterType="com.example.mydiary.entity.Diary">
        INSERT INTO diary (uId, title, date, image, location, content)
        VALUES (#{uId}, #{title}, #{date}, #{image}, #{location}, #{content})
    </insert>

    <select id="findById" resultType="com.example.mydiary.entity.Diary">
        SELECT * FROM diary WHERE id = #{id}
    </select>

    <select id="findByUid" resultType="com.example.mydiary.entity.Diary">
        SELECT * FROM diary WHERE uId = #{uId}
    </select>

    <select id="findAll" resultType="com.example.mydiary.entity.Diary">
        SELECT * FROM diary ORDER BY date DESC
    </select>

    <update id="updateDiary" parameterType="com.example.mydiary.entity.Diary">
        UPDATE diary
        SET title = #{title},
            date = #{date},
            image = #{image},
            location = #{location},
            content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteDiary">
        DELETE FROM diary WHERE id = #{id}
    </delete>

</mapper>